.bg_container {
    width: 100vw;
    /* max-width: 1440px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: -1;
}

.bg {
    top: 0;
    width: 100%;
    display: block;
}

.bgM {
    top: 0;
    width: 100%;
    display: none;
}

@media (max-width: 767px) {
    .bg {
        display: none;
    }

    .bgM {
        display: block;
        object-fit: contain;
    }
}