.button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #282828;
    font-family: "Futura PT-Book", Helvetica;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    padding: 5px;
}